body {
  background: rgb(236, 239, 242);
  color: #2c404c;
  font-family: "Hind", sans-serif;
  margin: 0;
  padding: 0;
}
.buttonDiv {
  display: flex;
  justify-content: space-evenly;
}
#trailerButton {
  padding: 0;
  width: 30%;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  background: linear-gradient(to right, #00f260, #0575e6);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.hidden {
  display: none;
}
#listButton {
  padding: 0;
  width: 30%;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  background: linear-gradient(to right, #00f260, #0575e6);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#listButton:hover {
  transform: translateY(-7px);
}
#trailerButton:hover {
  transform: translateY(-7px);
}
#colors {
  background: linear-gradient(to bottom, #00f260, #0575e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.underline {
  display: flex;
  justify-content: center;
}
.description {
  font-family: "Exo 2", sans-serif;
  padding: 30px;
  line-height: 1.5;
}
.icon:hover {
  cursor: pointer;
}
.headliner {
  font-size: 100px;
  font-family: "Montserrat", serif;
  font-weight: 900;
  color: #2c404c;
}
#watch-List {
  height: 20px;
}
.underliner {
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  padding: 20px;
}
.dot {
  width: 50px;
  height: 50px;
  outline: none;
  border-radius: 50%;
  border: 0;
  color: #fff;
}
button {
  color: #fff;
}
nav {
  background-color: #000;
  height: 30px;
}
button:hover {
  box-shadow: 0px 15px 20px rgb(40, 43, 42);
  color: #fff;
  /* transform: translateY(-7px); */
  cursor: pointer;
}
.horror {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.drama {
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.comedy {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.romance {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.thriller {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.crime {
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.scienceFiction {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.action {
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.adventure {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.western {
  background: #673ab7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.war {
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2948ff,
    #396afc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc);
}
.music {
  background: #4ecdc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #556270,
    #4ecdc4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #556270, #4ecdc4);
}
.documentary {
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
}
.animation {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6);
}
.history {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  display: flex;
  justify-content: center;
}
.colorContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
button {
  border: 0;
}
.hidden {
  display: none;
}
.banner {
  display: flex;
  justify-content: center;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
}

.title {
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", serif;
  width: 50%;
}

.c {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.dd {
  z-index: 1;
  position: absolute;
  display: inline-block;
  font-family: "Exo 2", sans-serif;
}
.dd-a {
  padding: 10px;
  border-radius: 2px;
  background: linear-gradient(to bottom, #00f260, #0575e6);
  color: #b6c3cc;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.dd input:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  background: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition-duration: 0.2s;
  -webkit-transform: scaleX(0);
  -webkit-transform-origin: bottom left;
  -webkit-transition-duration: 0.2s;
}
.dd input {
  top: 0;
  opacity: 0;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.dd input:hover {
  cursor: pointer;
}
.dd input:hover ~ .dd-a {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.dd input:checked:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
.dd input:checked ~ .dd-c {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
}
.dd-a span {
  color: #000;
  font-family: "Varela Round", sans-serif;
}
#starterLi {
  font-weight: 500;
  margin-bottom: 0;
  padding: 10px;
  word-break: keep-all;
  white-space: nowrap;
  display: block;
  position: relative;
}
.dd-c {
  font-family: "Varela Round", sans-serif;
  color: #fff;
  display: block;
  position: absolute;
  background: rgb(38, 52, 62);
  border-radius: 2.5px;
  height: auto;
  transform: scaleY(0);
  transform-origin: top left;
  transition-duration: 0.2s;
  -webkit-transform: scaleY(0);
  -webkit-transform-origin: top left;
  -webkit-transition-duration: 0.2s;
}
.dd-c ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.toggleDown {
  transform: rotate(0deg);
}
.toggleUp {
  transform: rotate(180deg);
}
#checkBox:checked {
  transform: rotate(180deg);
}
.dd-c li {
  padding: 10px;
  word-break: keep-all;
  white-space: nowrap;
  display: block;
  position: relative;
  white-space: nowrap;
}
.dd-c li:hover {
  background: rgb(56, 128, 153);
  cursor: pointer;
}
a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  background: white;
  color: #c63d0f;
}
a:before {
  z-index: 0;
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  background: #c63d0f;
  top: 0;
  left: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
}
a span {
  display: block;
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
a:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
a:hover span {
  color: white;
}
.panel {
  width: 100%;
}
.image {
  border-radius: 10px;
}

@media (min-width: 400px) {
  .dot {
    width: 70px;
    height: 70px;
  }
  .description {
    font-size: 15px;
  }
  #intro {
    font-size: 38px;
    font-weight: 900;
  }
}
@media (min-width: 350px) {
  .dot {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 300px) {
  .headliner {
    font-size: 32px;
    font-weight: 900;
  }
  #listButton {
    font-size: 10px;
    padding: 5px;
  }
  #trailerButton {
    font-size: 10px;
    padding: 5px;
  }
  .dd-c li {
    padding: 5px;
    font-size: 10px;
  }
  .underliner {
    font-size: 20px;
    text-align: center;
  }
  .dd-a {
    padding: 2.5px;
    font-size: 10px;
  }
  .colorContainer {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .title {
    font-size: 27px;
    line-height: 1;
    width: 80%;
  }
  .dot {
    font-size: 8px;
  }

  .image {
    width: 80%;
    height: 50%;
  }
  .description {
    width: 90%;
    font-size: 13px;
    text-align: center;
  }
}
@media (min-width: 700px) {
  #intro {
    font-size: 70px;
  }
  .title {
    font-size: 40px;
  }
  .date {
    font-size: 30px;
  }
  .image {
    width: 50%;
  }
  .dd-a {
    padding: 10px;
    font-size: 15px;
  }
  .dd-c li {
    padding: 10px;
    font-size: 15px;
  }
  #listButton {
    font-size: 13px;
    padding: 7px;
  }
  #trailerButton {
    font-size: 13px;
    padding: 7px;
  }
  .dot {
    width: 80px;
    height: 80px;
    font-size: 12px;
  }
  nav {
    height: 45px;
  }
  .description {
    width: 90%;
    text-align: center;
    font-size: 18px;
  }
  .colorContainer {
    display: block;
    margin-top: 50px;
  }
  .underliner {
    font-size: 25px;
    padding: 30px;
  }
}
@media (min-width: 1000px) {
  #intro {
    font-size: 100px;
  }
  .image {
    width: 50%;
  }
  .title {
    font-size: 50px;
  }
  .dd-c li {
    padding: 10px;
    font-size: 18px;
  }

  .date {
    font-size: 30px;
  }
  .underliner {
    font-size: 30px;
    padding: 40px;
  }
  .description {
    font-size: 20px;
  }
  .dot {
    width: 100px;
    height: 100px;
  }
  .colorContainer {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .image {
    width: 50%;
  }
  .underliner {
    width: 80%;
  }
  #listButton {
    font-size: 16px;
    padding: 7px;
  }
  #trailerButton {
    font-size: 16px;
    padding: 7px;
  }
  .description {
    width: 80%;
  }
}
